@import "tailwindcss";

@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Input Mono';
  src: url('/public/fonts/InputMono-Light-Testing.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@layer utilities {
  .font-display {
    font-variation-settings: 'wght' 600, 'wdth' 100, 'opsz' 48, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-body {
    font-variation-settings: 'wght' 400, 'wdth' 100, 'opsz' 16, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-caption {
    font-variation-settings: 'wght' 400, 'wdth' 100, 'opsz' 10, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-wide-medium {
    font-variation-settings: 'wght' 477, 'wdth' 132, 'opsz' 77;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Google Sans Flex", var(--font-sans);
  --font-secondary: "Input Mono", var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
