@import "tailwindcss";

@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Input Mono';
  src: url('/public/fonts/InputMono-Light-Testing.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@layer utilities {
  .font-display {
    font-variation-settings: 'wght' 600, 'wdth' 110, 'opsz' 48, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-body {
    font-variation-settings: 'wght' 300, 'wdth' 100, 'opsz' 16, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-body-wide {
    font-variation-settings: 'wght' 300, 'wdth' 110, 'opsz' 16, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-body-wider{
    font-variation-settings: 'wght' 300, 'wdth' 115, 'opsz' 17, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-desktop-body {
    font-variation-settings: 'wght' 400, 'wdth' 115, 'opsz' 77, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-header-wide {
    font-variation-settings: 'wdth' 132;
  }
  .font-caption {
    font-variation-settings: 'wght' 400, 'wdth' 120, 'opsz' 10, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-wide-medium {
    font-variation-settings: 'wght' 477, 'wdth' 132, 'opsz' 77;
  }
  .font-head{
    font-variation-settings: 'wght' 900, 'wdth' 140, 'opsz' 48, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-subheadings{
    font-variation-settings: 'wght' 600, 'wdth' 132, 'opsz' 77, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }
  .font-headings{
    font-variation-settings: 'wght' 800, 'wdth' 132, 'opsz' 77, 'GRAD' 0, 'ROND' 0, 'slnt' 0;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF9500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Google Sans Flex", var(--font-sans);
  --font-secondary: "Input Mono", var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #FF9500;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
